@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

main {
    background-color: var(--clr-white);
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin: center;
}

.contenedor-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

aside {
    position: fixed;
    z-index: 9;
    background-color: var(--clr-main);
    left: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.foto {
    max-width: 100%;
    border-radius: 1rem;
}


